.my_col {
    height: 100%;
    margin: 10px;
    background-color: bisque;
}

.card {
    margin: 10px;
    border-radius: 5px;
    background-origin: shadow 5px;
    background-image: url(img/bee.jpg)
}

.my_blank {
    background-color: brown;
    background-image: url(img/bee.jpg)
}

.right-col {
    position: absolute;
    width: 200px;
    min-height: 100%;
    background: blue;
    transition: all .2s ease-in;
}